.citations {
  &__credit,
  &__source {
    font-size: rem(11);
    padding: 0 0 5px 0;
    margin: 0;

    @include span-columns(6 of 12);
  }

  &__credit {
    text-align: right;
  }

  &__border {
    border-bottom: 2px dotted #ccc;
  }
}
