@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/McClatchySlab-Light.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/McClatchySlab-Regular.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/McClatchySlab-Semibold.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/McClatchySlab-Bold.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/McClatchySans-Thin.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/McClatchySans-Regular.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/McClatchySans-Semibold.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/McClatchySans-Black.woff") format("woff");
}
@font-face {
  font-family: "McClatchy Sans Cond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/McClatchySansCond-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 400;
  src: local("Lyon Regular"), local("Lyon-Regular"), url("../fonts/LyonTextWeb-Regular.woff") format("woff");
}
