$heading-font-family-script: 'McClatchy Slab', Georgia, Times, 'Times New Roman', serif;
$heading-font-family-sans: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;
$body-font-family: 'McClatchy Sans', Georgia, Times, 'Times New Roman', serif;
